@import "header.css";
@import "cards.css";
@import "ad.css";
@import "footer.css";

body {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "hd hd hd hd"
        "crd crd crd ad"
        "ft ft ft ft"; 
    /* background-color: lightskyblue; */
    /* font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; */
    font-family: "Apple Chancery", "Snell Roundhand", "URW Chancery L", cursive;
    margin: 0;
}

@media (max-width: 600px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "hd"
            "crd"
            "ft";
    }
}

button {
  padding: 0;
  border: none;
  font: inherit;
  cursor: pointer;
}

header {
    grid-area: hd;
}

.card-container {
    grid-area: crd;
}

footer {
    grid-area: ft;
}
